.container {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.container {
  padding-top: 86px;
}

.container__table {
  padding-top: 36px !important;
}

hr {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 58rem !important;
}
